*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    background:#09090f;
    color:white;
    font-family:Segoe UI, sans-serif;
}

header{
    position:fixed;
    top:0;
    width:100%;
    padding:25px 8%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:rgba(9,9,15,0.85);
    backdrop-filter:blur(10px);
    z-index:1000;
}

.logo{
    font-weight:700;
    letter-spacing:2px;
}

nav{
    display:flex;
    gap:30px;
}

nav a{
    text-decoration:none;
    color:white;
    transition:0.3s;
}

nav a:hover{
    color:#ff9e2c;
}

.hero{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;

    background:
    linear-gradient(
        rgba(0,0,0,0.65),
        rgba(0,0,0,0.65)
    ),
    url("https://images.unsplash.com/photo-1516035069371-29a1b244cc32?q=80&w=2000");

    background-size:cover;
    background-position:center;
}

.hero-content{
    max-width:900px;
    padding:20px;
}

.hero h1{
    font-size:4rem;
    line-height:1.1;
    margin-bottom:25px;
}

.hero p{
    color:#c7c7c7;
    font-size:1.1rem;
    margin-bottom:35px;
}

.btn{
    display:inline-block;
    text-decoration:none;
    color:white;
    background:#7a2fff;
    padding:15px 30px;
    border-radius:50px;
    transition:0.3s;
}

.btn:hover{
    background:#ff9e2c;
}

section{
    padding:120px 10%;
}

h2{
    font-size:2rem;
    color:#ff9e2c;
    margin-bottom:40px;
}

.gallery{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    gap:25px;
}

.placeholder{
    height:350px;
    border-radius:15px;

    background:#171720;

    display:flex;
    justify-content:center;
    align-items:center;

    color:#666;
    font-size:1.2rem;
}

.video-placeholder{
    height:500px;
    border-radius:15px;

    background:#171720;

    display:flex;
    justify-content:center;
    align-items:center;

    color:#666;
}

#about p,
#contact p{
    max-width:700px;
    line-height:1.8;
    color:#c7c7c7;
}

@media(max-width:768px){

    header{
        flex-direction:column;
        gap:20px;
    }

    nav{
        gap:15px;
        flex-wrap:wrap;
        justify-content:center;
    }

    .hero h1{
        font-size:2.5rem;
    }
}
